name: CI/CD Pipeline - Build, Push FastAPI Application

on:
  push:
    branches:
      - main 
    paths-ignore:
      - '**.md'

env:
  DOCKER_REPO: ${{ secrets.DOCKER_HUB_USERNAME }}/fastapi-app
  MANIFEST_FILE_PATH: manifests/deployment.yaml 

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
            
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{env.DOCKER_REPO}}:v${{github.run_number}}
            ${{ secrets.DOCKER_HUB_USERNAME }}/fastapi-app:latest

  update-manifest:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Checkout Manifests Repository
        uses: actions/checkout@v5
        with:
          repository: ${{ github.repository_owner }}/fastapi-k8s-manifests
          ssh-key: ${{ secrets.SSH_PRIVATE_ACCESS_KEY }}
          
      - name: Update deployment tag and Push
        id: update_manifest
        run: |
          NEW_TAG="${{ env.DOCKER_REPO }}:v${{ github.run_number }}"
          DEPLOYMENT_FILE="${{ env.MANIFEST_FILE_PATH }}"
          
          echo "Nova Imagem: $NEW_TAG"

          sed -i "s|image: .*/fastapi-app:.*|image: ${NEW_TAG}|" $DEPLOYMENT_FILE
          
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add .

          git commit -m "chore(image): update FastAPI image version to v${{ github.run_number }}"
          git push origin main